*\.la
*\.lo
*\.m4
*\.o
*\.orig
*sh
*~
\.deps
\.libs
Makefile.in
Makefile
autom4te.cache/
config\.*
configure
depcomp
libtool
missing
src/paps
src/test_libpaps
src/texttopaps
stamp*
/src/.sconsign.dblite
/src/libpaps.a
